@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.ff-logo {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 48px;
}

.ff-play {
    font-family: 'Playfair Display', serif;
}

.card-title {
    font-weight: 600;
}

.fit-cover {
    object-fit: cover;
}

.text-shadow-sm {
    text-shadow: 1px 1px black;
}